<form action="/add-ship" method="post">
    <label for="name">Nom</label>
    <input id="name" name="name" type="text" />
    <label for="manufacturer">Manufactureur</label>
    <input id="manufacturer" name="manufacturer" type="text" />
    <input type="submit" />
</form>
