<div id="form-wrapper">
    <h1>Créer un compte</h1>
    <p>Vous possédez déjà un compte ? <a href="/users/login">Connectez-vous</a></p>
    <form action="/users/register" method="post">
        <input id="firstname" name="firstname" type="text" placeholder="Prénom" required />
        <input id="lastname" name="lastname" type="text" placeholder="Nom" required />
        <input id="email" name="email" type="text" placeholder="Adresse E-mail" required />
        <input id="password" name="password" type="password" placeholder="Mot de passe" required />
        <input id="password-validation" name="password-validation" placeholder="Mot de passe (vérification)" type="password" hidden required />
        <input type="submit" id="register-submit" />
    </form>
    <ul hidden>
        <p>Problèmes :</p>
        <li hidden>Mots de passes différents</li>
        <li hidden>Adresse E-mail invalide</li>
        <li hidden>Cette adresse e-mail est déjà utilisée</li>
        <li hidden>Votre mot de passe doit contenir au moins une majuscule, un chiffre et un symbole</li>
        <li hidden>Ce mot de passe est déjà utilisé par quelqu'un</li>
        <li hidden>
            Votre mot de passe doit contenir au moins une majuscule, un chiffre, un symbole, une unité de mesure, une monnaie, un verbe à l'infinitif et le titre d'une des chansons
            de Pitbull
        </li>
    </ul>
</div>
